<div class="archive__item">
  {% if post.image %}
    <div class="archive__item-teaser">
      <img src="{{ post.image }}" alt="{{ post.title }}">
    </div>
  {% endif %}
  <div class="archive__item-body">
    <h2 class="archive__item-title" itemprop="headline">
      <a href="{{ base_path }}{{ post.url }}" rel="permalink">{{ post.title }}</a>
    </h2>
    {% if post.collection == 'publications' %}
      <p>Published in <i>{{ post.venue }}</i>, {{ post.date | date: "%Y" }}</p>
    {% endif %}
    {% if post.excerpt %}
      <p class="archive__item-excerpt" itemprop="description">{{ post.excerpt }}</p>
    {% endif %}
    {% if post.citation or post.paperurl or post.slidesurl %}
      <p>
        {% if post.citation %}Recommended citation: {{ post.citation }}{% endif %}
        {% if post.paperurl %}<br><a href="{{ post.paperurl }}">Download Paper</a>{% endif %}
        {% if post.slidesurl %}<br><a href="{{ post.slidesurl }}">Download Slides</a>{% endif %}
      </p>
    {% endif %}
  </div>
</div>
